@page
@using ClaasDemo2021FisrtRazor.model
@model IndexModel
@{
    ViewData["Title"] = "Peters Kager";
}

<div class="text-center">
    <h1 class="display-4">Hej</h1>
    <p>Her kommer Peters kager</p>
    <p>@Model.Kage</p>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Slags</th>
            <th>Pris</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Kage kage in @Model.KageKatalog.Kager)
        {
            <tr>
                <td>@kage.Id</td>
                <td>@kage.Navn</td>
                <td>@kage.Slags</td>
                <td>@kage.Pris</td>
            </tr>
        }

        </tbody>
    </table>
</div>
