@page
@using ClaasDemo2021FisrtRazor.model
@model IndexModel
@{
    ViewData["Title"] = "Peters Kager";
}

<div class="text-center">
    <h1 class="display-4">Hej</h1>
    <p>Her kommer Peters kager</p>
    @*<p>@Model.Kage</p>*@
    
    <p>Her kan du søge</p>
    <form method="post">
        <label>SØG Efter NAVN</label>
        <input type="text" asp-for="SearchText" class="form-control"/>
        <input type="submit" Value="SØG" class="btn btn-primary"/>
    </form>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Slags</th>
            <th>Pris</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Kage kage in @Model.Kager)
        {
            <tr>
                <td>@kage.Id</td>
                <td>@kage.Navn</td>
                <td>@kage.Slags</td>
                <td>@kage.Pris</td>
                @*<td><a href="Kager/EditKage/@kage.Id">Edit</a></td>*@
                <td><a asp-page="Kager/EditKage" asp-route-id="@kage.Id">Edit</a></td>
                <td><a asp-page="Kager/SletKage" asp-route-id="@kage.Id">Slet</a></td>
            </tr>
        }

        </tbody>
    </table>
</div>
